.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.footcard{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 15px;
    color: rgb(54, 53, 53);

}

.footcard a{
    text-decoration: none;
    color: rgb(54, 53, 53);
    margin: 5px;
}

.cards{
    display: flex;
}

.intro{
    width: 58%;
    color: rgb(54, 53, 53);
    display: flex;
    justify-content: flex-start;
}