body{
    background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.middle{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.middle h1{
    margin-bottom: 0;
}
.middle h2{
    margin-bottom: 0;
}

.line{
    display: flex;
    justify-content: center;
}

.line input{
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: rosybrown 5px;
}

.line ::placeholder{
    color: rgb(97, 99, 104);
    font-size: 15px;
    margin-right: 100px;
}

.line button{
    width: 50%;
    height: 55px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
}

.signup{
    display: flex;
    height: 130px;
    display: flex;
    align-items: center;
}

.signup button{
    height: 25%;
    background-color: red;
    color: white;
    border: none;
    margin-right: 25px;
    border-radius: 5px;
    width: 80px;
}

@media screen and (max-width: 360px){
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        font-size: 10px;
        background-image: url('../images/netflix-library-photo-scaled.jpg.webp');
        background-size: 100% 100vh;
    }

    .img{
        width: 90px;
        margin-top: 30px
    }
    .middle{
        font-size: 10px;
    }
    .line{
        width: 200px;
        height: 20px;
    }
    .line input{
        width: 10%;
        height: 10px;
    }
}